*{
    padding: 0;
    margin: 0;
    background: hsl(121, 68%, 89%);
    font-family:'Courier New', Courier, monospace;
    color: #1a1a1a;
      
}

body{
    padding-top: 28px;
}


[data-testid="test-profile-card"]{
    width: 80%;
     margin: 0 auto;
    border: 1px solid #1a1a1a;
    padding: 16px;
}

.profile{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    
}

figure{
  
    border: 1px solid#1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}
figure img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.profile header{
    width: 100%;
    padding: 0 16px;
    
}

[data-testid="test-user-name"]{
    font-size: 64px;
    font-weight: 500; 
  
}

[data-testid="test-user-name"] span {
    display: block;
    margin-left: 100px;
}

[data-testid="test-user-bio"]{
    font-size: 16px;
    padding-top: 16px;
    line-height: 28px;
}

[data-testid="test-user-time"]{
    display: block;
    margin-top: 16px;
    font-weight: 600;
}

[data-testid="test-user-social-links"]{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 4px;
    margin-top: 16px;
}
[data-testid="test-user-social-links"] li{
    list-style: none;
    border: 1px solid #1a1a1a;
    height: 40px;


}
[data-testid="test-user-social-links"] li a{
 text-decoration: none;
 color: #1a1a1a;
 width: 100%;
 height: 100%;
  display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;
}

[data-testid="test-user-social-links"] li a svg{
    width: 16px;
   
}

.list{
    display: grid;
    grid-template-columns: 45% 45%;
    margin-top: 16px;
    overflow: hidden;
    justify-content: space-between;
    
}


.list [data-testid="test-user-hobbies"], .list [data-testid="test-user-dislikes"]{
    padding: 16px;
   background: white;
        border: 1px solid #1a1a1a;
}
.list [data-testid="test-user-hobbies"] span, .list [data-testid="test-user-dislikes"] span{
    display: block;
    width: 100%;
    background: none;
    font-weight: 600;
    font-size: 34px;
    border: 1px solid #1a1a1a;
    margin-bottom: 16px;
    text-align: center;
}
.list [data-testid="test-user-hobbies"] ul, .list [data-testid="test-user-dislikes"] ul{
     list-style: none;
     background: none;
     display: grid;
     grid-template-columns: 4fr 4fr;
     gap: 16px;
  
}
.list [data-testid="test-user-hobbies"] ul li, .list [data-testid="test-user-dislikes"] ul li{
   height: 40px; 
   border: 1px solid #1a1a1a;
   margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
    
}
.list [data-testid="test-user-dislikes"] {
 background: hsl(0, 68%, 89%);
}
.list [data-testid="test-user-dislikes"]  span, .list [data-testid="test-user-dislikes"] ul li{
    background: rgb(26, 26, 26);
    color: white;
    border: 1px solid rgb(0, 0, 0);
}





@media (max-width:1000px) {
    .profile{
        display: block;
    }
    figure img{
        width: 100%;
        height: 500px;
    }
    .profile header{
       padding: 16px 0;
       
    }
    .list{
        display: block;
    }

    .list [data-testid="test-user-dislikes"]{
        margin-top: 16px;
    }
}

@media (max-width:400px) {
   figure img{
        width: 100%;
        height: 300px;
    }

    [data-testid="test-user-social-links"]{
  grid-template-columns: 5.6fr 5.6fr;
    }

    .list{
        display: block;
    }
    .list [data-testid="test-user-hobbies"] ul, .list [data-testid="test-user-dislikes"] ul{
        grid-template-columns: 5.6fr 5.6fr;
    }
    

}